body{
    margin: 0;
}

.header {
    width: 100%;
    height: 0.5%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
    background: black;
    position: relative;
    z-index: 1;
  }
  
  .leftSection {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px; 
    height: 100px; 
    margin-left: 50px;
}

  .rightSection {
    display: flex;
    align-items: center;
    margin-right: 200px;
  }


  .option{
    color: white;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  